@using System
@using System.IO
@using Listjj.Infrastructure.ViewModels
@using MudBlazor
@inherits PageBase


<InputFile id="fileInput" OnChange="UploadFiles" hidden multiple />

<MudFab HtmlTag="label"
        Color="Color.Default"
        Icon="@Icons.Material.Filled.AttachFile"
        for="fileInput" />

@FilesRows

@if(filesLoading)
{
    <div class="spinner-border text-primary mt-2 ml-3" role="status"></div>
}

@code
{
    [Parameter] public RenderFragment? FilesRows { get; set; }
    [Parameter] public EventCallback OnFileUpload { get; set; }
    [Parameter] public ListItemViewModel ItemVm { get; set; }
    private bool filesLoading = false;

    private async Task UploadFiles(InputFileChangeEventArgs e)
    {
        filesLoading = true;
        foreach (var file in e.GetMultipleFiles())
        {
            MemoryStream ms = new MemoryStream();
            await file.OpenReadStream(5000000).CopyToAsync(ms);
            var bytes = ms.ToArray();
            var fileVm = new FileViewModel()
                {
                    B64Bytes = Convert.ToBase64String(bytes),
                    ListItemId = ItemVm.Id,
                    Name = file.Name,
                    Size = bytes.Count()
                };

            var result = await FileService.AddFile(fileVm);
        }
        filesLoading = false;

        await OnFileUpload.InvokeAsync();
    }

}