@using Listjj.Infrastructure.ViewModels
@inject IJSRuntime JSRuntime
@inherits PageBase

<EditForm Model="@category" OnValidSubmit="HandleValidSubmit">
    <div class="form-group p-3"> 
        <div class="container-fluid pt-1">
            <div class="row">
                <div class="form-group col-12 text-nowrap addDiv">
                    <label class="control-label addLabel" for="categoryName">Name: </label>
                    <input id="categoryName" class="form-controll" @bind="@category.Name" style="width: 70%; height: 100%;" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12 text-nowrap addDiv">
                    <label class="control-label addLabel align-top" for="categoryDescription">Description: </label>
                    <textarea id="categoryDescription" class="form-controll" @bind="@category.Description" style="width: 70%; height: 100%;" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12 text-nowrap mt-3 addDiv">
                    <button type="submit" class="btn btn-outline-primary" value="save">Save</button>
                </div>
            </div>
        </div>
    </div>
</EditForm>

@code {

    [Parameter] public EventCallback UpdateList { get; set; }
    CategoryViewModel category = new CategoryViewModel();


    protected async Task HandleValidSubmit()
    {
        category.UserId = appState.UserId;
        await CategoryService.AddorUpdateCategory(category);
        await JSRuntime.InvokeAsync<bool>("notify", $"Added {category.Name}");
        await UpdateList.InvokeAsync();
        category = new CategoryViewModel();
    }

}
