@using System.IO
@using System.Text
@using Listjj.Infrastructure.ViewModels

@inherits PageBase

    <span class="input-zone p-3 m-2" style="float: left;" @onclick="DownloadFile">
        Export
    </span>
    <span class="input-zone p-3 m-2" style="float: left;">
        <InputFile OnChange="@Upload"/>
        Drop file to import notes
    </span>


@code {
    [Inject] private IJSRuntime JSRuntime { get; set; }

    private async void DownloadFile() 
    {
        var items = await ItemService.GetAllByUserId(appState.UserId);
        var categories = CategoryService.GetAllByUserId(appState.UserId);
        var text = "SequenceNumber;Value;Name;Description;Category;Active;Tags;\n";
        foreach(var item in items) {
            text += ($"{item.SequenceNumber};{item.Value};{item.Name};{item.Description};{item.Category.Name};{item.Active};{item.Tags}\n");
        }
        var bytes = System.Text.Encoding.UTF8.GetBytes(text);
        //await FileService.SaveAs(JSRuntime, "export.csv", bytes);
    }

    private async Task Upload(InputFileChangeEventArgs e)
    {
        Console.WriteLine("Uploading...");
        MemoryStream ms = new MemoryStream();
        await e.File.OpenReadStream().CopyToAsync(ms);

        ms.Position = 0;
        using (var reader = new StreamReader(ms, Encoding.UTF8))
        {
            string line;
            string[] words;
            line = reader.ReadLine();  // skip heading
            while ((line = reader.ReadLine()) != null)
            {
                var item = new ListItemViewModel();
                var category = new CategoryViewModel();
                words = line.Split(";");
                item.SequenceNumber = Double.Parse(words[0]);
                item.Value = Double.Parse(words[1]);
                item.Name = words[2];
                item.Description = words[3];
                item.Created = DateTime.Now;
                item.Modified = DateTime.Now;

                var categories = await CategoryService.GetAllByUserId(appState.UserId);
                categories = categories.Where(x => x.Name == words[4]).ToList();
                if(categories.Any()) {
                    category = categories[0];
                }
                else {
                    category.Name = words[4];
                    category.UserId = appState.UserId;
                    await CategoryService.AddorUpdateCategory(category);
                }
                item.CategoryId = category.Id;
                item.Active = Boolean.Parse(words[5]);
                //item.Tags = words[6];
                item.UserId = appState.UserId;

                await ItemService.AddorUpdateItem(item);
            }
        }
        NavManager.NavigateTo(NavManager.Uri, forceLoad: true);
    }
}
