@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root {
    --text-bg: #cedef0;
    --navbar-bg: #04080F;
    --notes-bar: #04080F;
    --form-bg: #b6d3ef;
    --text-dark: #04080F;
    --text-light: #cedef0;
    --icons: #507DBC;
    --bg: #DAE3E5;
    --edit-bg: #E0EAF5;
    --link: #0366d6;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: var(--bg) !important;
}
@media screen and (min-width: 601px) {
    html, body {
        font-size: 15px;
    }
}
@media screen and (max-width: 600px) {
    html, body {
        font-size: 18px;
    }
    table.main-table th {
        writing-mode: vertical-lr;
    }
}

@media screen and (max-width: 600px) {
    .hide-on-mobile {
        display: none;
    }
}
@media screen and (min-width: 1280px) {
        display: none;
    }
}

.standardBgColor {
    background-color: var(--bg);
}

.divRounded {
    border-radius: 7px;
}

a, .btn-link {
    color: var(--link);
}

a, a:hover, a:focus, .input-zone {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.link-primary {
    color: #0d6efd !important;
    text-decoration: underline !important;
}

    .link-primary:hover {
        color: #808080 !important;
        text-decoration: underline !important;
        cursor: pointer;
    }
.text-small {
    font-size: 0.8em;
}
input, select, textarea {
    color: var(--text-dark) !important;
    background-color: var(--bg) !important;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

/* Jarek : */
.addFormBackground {
    background-color: var(--form-bg);
/*    font-size: large;
*/    color: var(--text-dark);
}
    .addLabel {
        width: 70px;
        margin: 5px;
    }
    .addDiv {
        margin-bottom: 1px;
    }
.navbar-default {
    background-color: var(--navbar-bg);
    border-radius: 7px;
}
    .nav-link {
        color: var(--text-light);
    }
    .nav-link:hover {
        color: var(--icons);
    }
table {
    table-layout: auto !important;
    /*    table-layout: fixed !important;*/
    width: 100% !important;
}
    table > tr > td {
        background-color: var(--text-bg);
        color: var(--text-dark);
        padding: 5px !important;
    }
    table > thead > tr > th {
        background-color: var(--notes-bar) !important;
        padding: 5px !important;
    }
    th {
        border: none !important;
    }
    th:first-child {
        border-radius: 10px 0 0 0;
    }
    th:last-child {
        border-radius: 0 10px 0 0;
    }
    tr:last-child td:first-child {
        border-radius: 0 0 0 10px;
    }
    tr:last-child td:last-child {
        border-radius: 0 0 10px 0;
    }

tr.table-secondary > td {
    background-color: var(--edit-bg) !important;
}
/* for animation : */
.fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 900ms, opacity 900ms;
}
.fadeIn {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 900ms;
}

tr:hover {
    background-color: rgb(244, 249, 252);
}

.mud-toolbar {
    background-color: var(--navbar-bg) !important;
}

/* file input : */
.input-zone {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(244, 249, 252);
    color: white;
    cursor: pointer;
    position: relative;
    width: 200px;
    height: 30px;
    border: 2px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(0, 102, 255);
    color: rgb(0, 102, 255);
}
.input-zone:hover {
    background-color: rgb(204, 224, 255)
}
.input-zone input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.icon-button {
    width: 35px;
    height: 35px;
}

.hide {
    visibility: hidden;
  }

.greyBg {
    background-color: grey;
}

/*MUD BLAZOR*/

.mud-drawer {
    background-color: var(--form-bg) !important;
}
