@page "/"
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<AuthorizeView>
    <Authorized>
        <h1>AUTHORIZED</h1>
    </Authorized>
</AuthorizeView>

<SurveyPrompt Title="How is Blazor working for you?" />
