@page "/"
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Index</PageTitle>

Welcome to your new app.
<AuthorizeView>
    <Authorized>
        <h1>AUTHORIZED</h1>
    </Authorized>
</AuthorizeView>


@code 
{
    [Inject] protected NavigationManager NavManager { get; set; }
    protected override async Task OnInitializedAsync() 
    {
        NavManager.NavigateTo("list");
    }
}
