@inject NavigationManager NavManager
@layout ListjjLayout

@page "/"

<h1>Redirect Page</h1>

<p>Redirecting to Default Page</p>

@*<a href="Identity/Account/Register">Register</a>
<a href="Identity/Account/Login">Log in</a>
<a href="/list">Listjj</a>*@


@code {
    protected override void OnAfterRender(bool firstRender)
    {
        NavManager.NavigateTo("/list");
    }
}