@inject ICategoryService CategoryService
@inject IJSRuntime JSRuntime
@inherits PageBase

<EditForm Model="@categoryVm" OnValidSubmit="HandleValidSubmit">
    <div class="form-group p-3">
        <div class="container-fluid pt-1">
            <div class="row">
                <div class="form-group col-12 text-nowrap addDiv">
                    <label class="control-label addLabel" for="categoryName">Name: </label>
                    <input id="categoryName" class="form-controll" @bind="@categoryVm.Name" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12 text-nowrap addDiv">
                    <label class="control-label addLabel" for="categoryDescription">Description: </label>
                    <input id="categoryDescription" class="form-controll" @bind="@categoryVm.Description" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-12 text-nowrap mt-3 addDiv">
                    <button type="submit" class="btn btn-outline-primary" value="save">Save</button>
                </div>
            </div>
        </div>
    </div>
</EditForm>

@code {

    [Parameter] public EventCallback UpdateList { get; set; }
    CategoryViewModel categoryVm = new CategoryViewModel();


    protected async Task HandleValidSubmit()
    {
        var category = new Category();
        MapperHelper.MapItem<CategoryViewModel, Category>(categoryVm, category);
        category.UserId = appState.UserId;
        await CategoryService.AddCategory(category);
        await UpdateList.InvokeAsync();
        categoryVm = new CategoryViewModel();
    }

}
