@inject NavigationManager NavManager
@layout MainLayout

@page "/"

<h1>backend page</h1>

<p>nothing here</p>


@code {
    protected override void OnAfterRender(bool firstRender)
    {
    }
}