@using Microsoft.Extensions.Configuration
@inject NavigationManager NavManager
@layout MainLayout
@page "/"


<h1>backend page</h1>
<p>@version</p>


@code {
    [Inject] IConfiguration configuration { get; set; }
    private string version = "";

    protected override async Task OnInitializedAsync()
    {
        version = configuration.GetValue<string>("Version");   
    }
}