@inject NavigationManager NavManager
@layout ListjjLayout

@page "/"

<h1>Redirect Page</h1>

<p>Redirecting to Default Page</p>


@code {
    protected override void OnAfterRender(bool firstRender)
    {
        NavManager.NavigateTo("/list");
    }
}